/* Fonts */
.bitcount-prop-single {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.onest {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Navbar Section */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  color: #4A5759;
  font-family: "Funnel Display", sans-serif;
}

.LGLogo {
  width: 100px;
}

/* Title Section */
#title {
  background-color: #DEDBD2;
  color: #4A5759;
}

.intro {
  text-align: justify;
  padding: 0 18px;
}

.Mybtn {
  font-family: "Funnel Display", sans-serif;
  color: #4A5759;
  display: block;
  text-align: center;
}

.name {
  margin-bottom: 20px;
}



/* Artwork */
#Artwork {
  padding: 7% 15%;
  background-color: #4A5759;
  color: #DEDBD2;
}

.blurb {
  margin-bottom: 0;
  margin-top: 30px;
  text-align: center;
}

.MyArt {
  margin-top: 20px;
  margin-bottom: 20px;
}

.PrincessP {
  height: 400px;
}

.OctoSti {
  height: 400px;
}

.PPOrow {
  text-align: center;
}

figcaption {
  font-family: "Funnel Display", sans-serif;
  text-align: center;
}

.ArtBlurb {
  color: #DEDBD2;
  margin: 20px;
}


/* Projects */
#Projects {
  padding: 7% 15%;
  background-color: #DEDBD2;
  color: #4A5759;
}

.MyProj {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid #4A5759;
}

/* Footer Section */
#footer {
  padding: 7% 15%;
  text-align: center;
  background-color: #4A5759;
  color: #DEDBD2;
}

/* whole page */
h1 {
  font-family: "Bitcount Prop Single", system-ui;
  font-weight: bold;
  font-size: 10rem;
  text-align: center;
}

h2 {
  font-family: "Bitcount Prop Single", system-ui;
  font-weight: bold;
  font-size: 7rem;
  text-align: center;
}

h3 {
  font-family: "Funnel Display", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

h4 {
  font-family: "Funnel Display", sans-serif;
  font-size: 1.5rem;
  font-weight:400;
  text-align: center;
}

p {
  font-size: large;
  font-family: "Onest", sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}

a:link {
  font-family: "Onest", sans-serif;
  color: #DEDBD2;
}

a:hover {
  color: palevioletred;
}
